<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCDB_Version</key>
	<integer>1000</integer>
	<key>CCSDKBaseURL</key>
	<string>http://democrm.zgcom.cn</string>
	<key>CCSDKAPIPath</key>
	<string>/webservice.php</string>
	<key>CCSDKLog</key>
	<true/>
</dict>
</plist>
